---
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";

interface Props {
  title: string;
  description: string;
  link?: string;
  github?: string;
  image: string;
  company: string;
  time: string;
}

const { title, description, link, github, image, company, time }: Props =
  Astro.props;
---

<article
  data-company={company}
  data-time={time}
  class="[&>figure>img]:hover:scale-105 [&>figure>img]:transition-all [&>figure>img]:duration-500 hover:shadow hover:shadow-gray-200 rounded-xl overflow-hidden border min-h-[35rem] bg-black/30 backdrop-blur-3xl border-gray-800 hover:border-gray-700 transition-all duration-500"
>
  <figure
    class="bg-black h-[20rem] max-h-[20rem] overflow-hidden w-full aspect-square card-project-mask"
  >
    <img
      src={image}
      alt="wapizima"
      class="h-full w-full object-cover bg-no-repeat"
      loading="lazy"
      width="300"
      height="300"
    />
  </figure>
  <div class="p-6">
    <h4 class="truncate my-4 text-4xl uppercase font-extrabold">{title}</h4>
    <p class="text-xs text-gray-400">
      {description}
    </p>
  </div>
  <footer class="flex px-5 gap-5">
    {
      link && (
        <a
          href={link}
          type="button"
          target="_blank"
          class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-purple-500 hover:bg-purple-500/50 cursor-pointer"
        >
          <ExternalLinkIcon />
          Show
        </a>
      )
    }
    {
      github && (
        <a
          href={github}
          type="button"
          target="_blank"
          class="flex items-center gap-3 px-4 py-2 rounded-md border hover:transition-all hover:duration-500 hover:border-purple-500 hover:bg-purple-500/50 cursor-pointer"
        >
          <GithubIcon />
          Code
        </a>
      )
    }
  </footer>
</article>
