---
import CodeIcon from "./icons/CodeIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

interface Props {
  title: string;
  description: string;
  link?: string;
  github?: string;
  image: string;
  company: string;
  time: string;
}

const { title, description, link, github, image, company, time }: Props =
  Astro.props;
---

<article
  data-company={company}
  data-time={time}
  class="rounded-xl overflow-hidden border min-h-[40rem] bg-black border-gray-600"
>
  <figure class="bg-black h-[25rem] w-full aspect-square">
    <img
      src={image}
      alt="wapizima"
      class="h-full w-full object-fill bg-no-repeat card-border"
      loading="lazy"
      width="300"
      height="300"
    />
  </figure>
  <div class="p-6">
    <h4 class="truncate my-4 text-4xl">{title}</h4>
    <p class="">
      {description}
    </p>
  </div>
  <footer
    class="flex justify-start items-center [&>*:first-child]:mr-8 text-center mt-2 overflow-hidden pb-2 pl-2"
  >
    {
      link && (
        <a
          href={link}
          target="_blank"
          class="block py-2 px-6 card-border mt-2 relative pointer
		bg-orange-600 hover:bg-orange-500
		after:absolute after:bottom-0 after:h-1 after:w-full after:bg-orange-800 after:left-0
		before:absolute before:bottom-0 before:h-full before:w-1 before:bg-orange-800 before:right-0
		hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
		before:transition-all before:duration-75 w-auto"
        >
          <ExternalLinkIcon />
        </a>
      )
    }
    {
      github && (
        <a
          href={github}
          target="_blank"
          class="block py-2 px-6 card-border mt-2 relative pointer bg-blue-600 hover:bg-blue-500
			after:absolute after:bottom-0 after:h-1 after:w-full after:bg-blue-800 after:left-0
			before:absolute before:bottom-0 before:h-full before:w-1 before:bg-blue-800 before:right-0
			hover:after:h-[6px] hover:before:w-[6px] transition-all duration-75 after:transition-all after:duration-75
			before:transition-all before:duration-75 w-auto"
        >
          <CodeIcon />
        </a>
      )
    }
  </footer>
</article>
